---
layout: default
featured: "true"
title: Members
---

<div class="page-content">
<div class="wrapper">

  <h1>Members</h1>

  <p>
    Folks from our Github Community.
  </p>
  <ul class="members-list">
    {% for page in site.pages %}
        {% if page.category == "member" %}
          	<li><img src="{{ page.image }}" height="36" width="36" alt="" />&nbsp;&nbsp;<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>

</div>
</div>
