---
layout: default
---
<div class="page-content">
<div class="wrapper">
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <img style="float:right; border-radius:8px;" height="128px" width="128px" src="{{ page.image }}" alt="Profile Picture"/>
    
    <h6>{{ page.role }} at Nextcraft</h6>
    
    {{ content }}
  </article>
  
  <br/>
  <div>
    Looking for more info, find {{ page.title }} through these links.<br/>

    <a href="{{ page.twitter }}"><img title="Twitter" src="{{ site.baseurl }}/images/logo/social/twitter.svg" alt="Twitter" width="35" height="35" /></a>&nbsp;<a href="{{ page.facebook }}"><img title="Facebook" src="{{ site.baseurl }}/images/logo/social/facebook.svg" alt="Facebook" width="35" height="35" /></a>&nbsp;<a href="{{ page.linkedin }}"><img title="Linkedin" src="{{ site.baseurl }}/images/logo/social/linkedin.svg" alt="Linkedin" width="35" height="35" /></a>&nbsp;<a href="{{ page.github }}"><img title="Github" src="{{ site.baseurl }}/images/logo/social/github.svg" alt="Github" width="35" height="35" /></a>
  </div>

</div>
</div>
</div>